.contact-main {
  background: #252934;
}
.head {
  font-family: Railway;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.contact-text {
  color: white;
}
.contact-main {
  background: #191a1d;
  /* clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%); */
  padding: 20px;
  padding-top: 200px;
}
.flex {
  display: flex;
}

.work h2 {
  color: white;
  font-size: 3.25rem;
  font-weight: 400;
  font-family: "Rubik", "Arial", sans-serif;
}
.contact-main p {
  font-weight: 300;
  color: #04c2c9;
  font-size: 1.625rem;
}
.work {
  width: 50%;
}
.social-media {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: start;
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
}
.social-media li {
  /* display: -webkit-box; */
  /* align-items: center; */
  list-style: none;
  padding: 0px;
  vertical-align: bottom;
  /* display: inline; */
  /* border: 2px solid white; */
}
.icon-align {
  display: inline-flex;
  vertical-align: text-bottom;
  box-sizing: inherit;
  /* text-align: center; */
}
.social-media a {
  text-decoration: none;
  transition: color ease 0.3s;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.063em;
  font-family: "Rubik", "Arial", sans-serif;
  /* padding: 10px; */
  /* top: 0px; */
  text-align: center;
  /* border: 2px solid white; */
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;

  /* position: relative; */
  /* top: -10px; */
}
.social-media a:hover {
  color: #3de0e6;
}
.social-media span {
  /* display: none; */
  /* border: 1px solid yellow; */
  /* position: relative; */
  /* bottom: -10px; */
  padding-right: 20px;
  padding-top: 20px;
  margin: auto;
  text-align: center;
}
.work a {
  text-decoration: none;
  color: white;
}
/* media query  */
/* media query  */
/* media query  */

@media (max-width: 600px) {
  .work button {
    font-size: 1rem;
    transition: all ease 0.3s;
    font-size: 1rem;
    padding: 15px 25px;
    outline: none;
  }

  .work h2 {
    font-size: 2rem;
  }

  .contact-main p {
    font-size: 1.25rem;
  }
  .social-media li {
    padding: 0px;
    padding-bottom: 20px;
  }

  .social-media a {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.063em;
    font-family: "Rubik", "Arial", sans-serif;
    /* padding: 8px; */
    /* top: 0px; */
    /* text-align: center; */
    margin-top: 5px;
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  .contact-main {
    padding-top: 150px;
  }
  .social-media a {
    letter-spacing: 0.063em;
    padding: 0px;
  }
  .work {
    width: 40%;
  }
  .social-media {
    width: 60%;
    margin: auto;
    /* border: 1px solid white; */
  }
  .social-media span {
    /* display: none; */
    padding-right: 2px;
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 430px) {
  .contact-main {
    padding-top: 30px;
  }
  .social-media a {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .social-media a {
    font-size: 10px;
  }
}
