.project-main {
  padding-top: 150px;
  padding-bottom: 150px;
  background:#CAD5E2;
}

@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
.project-main h1 {
  font-family: "Langar", cursive;
  font-size: 60px;
  display: grid;
  justify-content: center;
}

.project {
  padding-top: 40px;
}
.projects-div img {
  width: 500px;
  height: auto;
  /* border: 2px solid burlywood; */
}
.projects-div img:hover {
  cursor: pointer;
}
.projects-div button {
  font-size: 20px;
  padding: 15px;
}

.projects-div {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  padding-top: 40px;
}
.project-box {
  border-radius: 5px;
  display: flex;
  padding: 20px;
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  /* border: 2px solid black; */
  margin-bottom: 30px;
  /* background: #e2e7ee; */
  box-shadow: 0px 0px 10px 0px gray;
}
.project-image {
  padding: 20px;
  margin: auto;
  /* width: 60%; */
  /* border: 1px solid black; */
  background: #292c2c;
}
.project-details {
  align-items: center;
  text-align: center;
  margin: auto;
  width: 40%;
  padding-left: 30px;
  padding-right: 30px;
  /* border: 2px solid black; */
}
.project-details ul {
  display: grid;
  justify-content: center;
}
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
.project-details h3 {
  font-size: 30px;
  font-family: "Langar", cursive;
}
.project-details li {
  list-style: none;
  /* border: 1px solid black; */
  text-align: start;
  /* height: auto; */
  /* padding: 10px; */
}
.project-details img {
  /* position: relative; */
  /* position: absolute; */
  /* bottom: -7px; */
  width: 35px;
  border: none;
}
.project-details a {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.project-details a:hover {
  color: black;
}
.projects-div button:hover {
  color: black;
  background: white;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
.tech {
  font-family: "Oswald", sans-serif;
  padding: 10px;
  position: relative;
  bottom: 10px;
  /* font-weight: 550; */
}

@media (max-width: 870px) {
  .project-main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .project-image img {
    width: 100%;
    /* width: 350px; */
    height: auto;
    border: none;
    /* border: 2px solid burlywood; */
  }
  .project-image {
    /* border: 2px solid yellow; */
    width: 50%;
    padding: 20px;
    margin: auto;
  }
  .project-box button {
    font-size: 15px;
  }
  .project-box {
    padding-left: 0px;
    padding-right: 0%;
    padding-bottom: 10px;
    /* padding: 10px; */
  }

  .project-details {
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: small;
  }
}
@media (max-width: 550px) {
  .project-main {
    padding-top: 30px;
  }
  .project-box {
    padding-top: 0%;
    /* border: 2px solid black; */
  }
  .project-image {
    padding: 2px;
    /* padding-bottom: 2px; */
  }
  .project-image img {
    height: 100px;
  }
}
@media (max-width: 370px) {
  .project-details h3 {
    font-size: 25px;
  }
  .project-details{
    text-align: start;
    /* border: 2px solid ; */
    padding-left: 0%;
  }
.tech{
  padding: 5px;
  font-size: 10px;
  
}
  .project-details a{
    font-size: 10px;
    padding: 0%;
  }
}
