.skills-main {
  background: #50dbb4;
  padding: 50px;
  padding-top: 60px;
  padding-bottom: 70px;
  margin: 0;
}
.skills-main h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin: 0;
}

.skills-div a {
  text-decoration: none;
  color: black;
}
.card-container {
  background: white;
  width: 300px;
  height: auto;
}
.card-container:hover {
  transform: scale(1.2);
}
.frontend {
  grid-area: frontend;
}
.backend {
  grid-area: backend;
}
.languages {
  grid-area: languages;
}
.database {
  grid-area: database;
}
.hosting-platform {
  grid-area: hosting-platform;
}
.version-control {
  grid-area: version-control;
}
.tools {
  grid-area: tools;
}

.skills-div {
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "frontend backend languages "
    "frontend database languages "
    /* "frontend  hosting-platform " */
    "frontend hosting-platform tools"
    "version-control hosting-platform tools"
    ".  . . ";
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 320px 300px auto;
  justify-content: center;
}

.skill-card {
  /* border: 2px solid rgb(24, 14, 14); */
  width: 300px;
  height: auto;
  padding: 10px;
  background: white;
  /* padding-left: 40px; */
  margin: 20px;
  border-radius: 20px;
  transition: all ease 0.5s;
}
.skill-card img {
  /* position: absolute; */
  margin: -6px auto;
  max-width: 2em;
  height: auto;
  padding-right: 10px;
}
.backend img {
  max-width: 3em;
  height: auto;
}
.database img {
  max-width: 4em;
  height: auto;
}
.skill-card hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.75),
    transparent
  );
}
.skill-card:hover {
  transform: scale(1.06);
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px gray;
}
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
.skills-main h1 {
  font-family: "Langar", cursive;
  font-size: 60px;
}
.flex-skill {
  display: grid;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  /* text-align: center; */
  /* border: 1px solid black; */
}
.skill-name {
  /* border: 1px solid black; */
  padding: 15px;
  text-align: start;
  width: 200px;
  /* border-bottom: 1px solid black; */
  /* width: 100px; */
}
.skill-name a:hover {
  color: rgba(41, 34, 53, 0.616);
}

/* Media query  */
/* Media query  */
/* Media query  */

@media (max-width: 1105px) {
  .skills-div {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .skill-card {
    margin: 20px auto;
    padding: 0;
    /* width: 100%; */
  }
}
@media (max-width: 380px) {
  .skills-div {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .skill-name {
    /* text-align: center; */
    margin: auto 30px;
  }
  .skill-card {
    /* margin: 20px auto; */
    /* padding: 0; */
    width: 100%;
    padding-left: 20px;
    padding-right: 0px;
  }
}
