.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  /* opacity: 1; 
    transition: opacity 3s;  */
    -webkit-font-smoothing: antialiased;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

.container-box {
  /* width: 80%; */
  background-color: transparent;
  position: relative;
  z-index: 10000;
  /* index  */
}
.particles-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  /* z-index: 1; */
  /* opacity: 0.4; */
}
